/* You can add global styles to this file, and also import other style files */

html{
  scroll-behavior: smooth;
}
.bg-tamara {
  background: #96b49c !important;
 }
 .fs-54{
   font-size: 54pt;
 }

 .fs-18{
   font-size: 18pt;
 }
